/** SPINNER CSS **/
.background-spinner {
  background-color: rgba(0, 0, 0, 0.30);
  z-index: 99998;
  height: 100%;
  width: 100%;
  content: ' ';
  position: fixed;
}

.spinner {
  font-size: 300%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10
}

.fa-spinner {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
  color: green;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.over {
  overflow-x: hidden !important
}
